.Datecard-container{
    width: 90vw;
    height: 50px;
    background-color: #FFFFFF;
    display: block;
    margin-top: 30px; 
}

._txt-dates{

/* First Name */

position: absolute;
width: 88px;
height: 24px;
left: 10px;
top: 10px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
/* identical to box height */

color: #000000;

}
.box-dates{
/* Rectangle 22 */

box-sizing: border-box;

position: absolute;
width: 336px;
height: 38px;
left: 10px;
top: 41px;

border: 1px solid #F8B908;
border-radius: 10px;
}   
.dates-snap{
/* saranielsen@gmail.com */

position: absolute;
width: 235px;
height: 38px;
left: 21px;
top: 41px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 21px;
display: flex;
align-items: center;

color: #8B8989;
}
.sign-in_container_button{
/* Rectangle 101 */

box-sizing: border-box;

position: absolute;
width: 100px;
height: 25px;
left: 0px;
top: 0px;

background: #3A8F4D;
border: 1px solid #58B96D;
border-radius: 50px;
}
.sign-in.txt{
/* Sign in */

position: absolute;
width: 48px;
height: 21px;
left: 26px;
top: 2px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 21px;
/* identical to box height */
display: flex;
align-items: center;
text-align: center;

color: #F8B908;

}
.login_container_button2{
    /* Rectangle 101 */
    
    box-sizing: border-box;
    
    position: absolute;
    width: 123px;
    height: 58px;
    left: 0px;
    top: 0px;
    
    background: #3A8F4D;
    border: 1px solid #58B96D;
    border-radius: 50px;
    }
    .login.txt2{
    /* Login */
    
    position: absolute;
    width: 68px;
    height: 38px;
    left: 27px;
    top: 10px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 38px;
    /* identical to box height */
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #F8B908;
    }