.Header {
  display: block;
  width: 100vw;
  height: 155px;
  background-color: white;
  box-shadow: 0px 2px 4px rgba(55, 124, 38, 0.4);
  align-items: center;
}
img {
  width: 35px;
  height: 43px;
  margin-right: 5px;
}
.restaurant {
  font-weight: 800;
  font-size: 25px;
  color: #116930;
}
.tittle {
  display: flex;
}
.box {
  position: relative;
  top: 45%;
  left: 50%;
  bottom: 14px;
  transform: translate(-50%, -50%);
  display: flex;
  width: 85vw;
  height: 57px;
  border: 1px solid #3a8f4d;
  border-radius: 30px;
}
input {
  position: relative;
  background: transparent;
  border: none;
  left: 15%;
  color: #3a8f4d;
  width: 80%;
  font-size: 18px;
}
.texto::placeholder {
  color: #3a8f4d;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 18px;
}
.iconS {
  position: relative;
  top: 50%;
  left: 10%;
  transform: translate(-50%, -50%);
}
.iconM {
  position: relative;
  top: 25px;
  left: 25px;
}
.pizza {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 40px;
  left: 50%;
  transform: translate(-50%, -50%);
}
