*{
    width: 100%;
    margin: 0ch;
}
.Sh-Cards-container{
    width: 90%;
    height: 670px;
    display: flex;
background-color: #FFFFFF;
flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #FFFFFF;
    margin-top: 5px;
    align-content: stretch;
}