.Card span{
    position: absolute;
    left: 28%;
    right: 27.49%;
    top: 10.73%;
    bottom: 85.99%;
    font-family: 'Poppins', sans-serif;
    color: #E8132C;
    font-weight: bold;
    font-size: 24px;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.408px;
}
.Card img{
    width: 260px;
    height: 161.95px;
    border-radius: 30px;
    padding: 20px;
    gap: 10px;
    position: absolute;
    left: 13px;
    top: 113px;
}
.Card h3{
    position: absolute;
    left: 28%;
    right: 27.49%;
    top: 56.55%;
    bottom: 40.18%;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
    /* or 110% */

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.408px;

    color: #116930;
}
.Card p{
    position: absolute;
    left: 7.08%;
    right: 6.77%;
    top: 62.73%;
    bottom: 26.36%;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    /* or 150% */

    display: flex;
    align-items: center;
    text-align: center;

    color: #707070;

}
.Card button{
    box-sizing: border-box;

    position: absolute;
    width: 200px;
    height: 40px;
    left: 63px;
    top: 456px;

    background: rgba(232, 19, 44, 0.5);
    border: 1px solid #FF0000;
    border-radius: 30px;
}
.Card h1{
    position: absolute;
    left: 40.31%;
    right: 40%;
    top: 15.27%;
    bottom: 80.91%;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */


    color: #707070;

}