.Back {
    width: 332px; 
    height: 907px; 
    background-color: rgba(233, 190, 70, 0.7);
    margin-left: 29px;
    gap: 30px;
    border-radius: 30px;
    overflow: auto;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-bottom: 15px;
    
  }
.Total{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center
}

.Total h1{
  color: #FFFFFF;
  font-family:'Poppins', sans-serif;
  display: flex;
  font-size: 16px;
  justify-content: center
}

.Total button{
  width: 130px;
  height: 38px;
  background-color:  rgba(232, 19, 44, 0.6);
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 12px;
  border: 1px solid red;
}
